.welcome {
  margin-top: 2em;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.05);
  padding: 3em;
  @include desktop;
  @include tablet{
    display: flex;

  }
  .welcome__content{
    @include tablet{
      width: 180%;
    }
    .welcome__title {
      padding-top: 1em;
      font-size: 3.5em;
      text-align: center;
      @include tablet{
        text-align:left;
        padding:0.25em;
      }
    }
    .welcome__description {
      padding: 0.5em 0;
      font-size: 2.75em;
      text-align: center;
      line-height: 1.25em;
      @include tablet{
        text-align:left;
      }
      @include tablet{
        text-align:left;
        padding:0.25em;
      }

    }
  }

  .welcome__actions {
    @include tablet{
      width: 100%;
    }
    .welcome__cta {
      background-color: $button-featured-color;
      color: white;
    }

    .welcome__more {
      background-color: $main-background-color;

      color: $main-font-color;
    }
  }
}