// Tło strony - #E4E4E4
$main-background-color:#e4e4e4;
// Kolor tekstu - #444444
$main-font-color:#444444;
// Tło loga - #FC4887 (jest to tekst w prostokącie)
$logo-background-color:#fc4887;
// Niebieskie obramowanie przycisku - #1691C3
$button-featured-color:#1691C3;

